In [1]:
import pandas as pd   
import pandas_gbq as pgbq 
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)

In [2]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))

In [12]:
from fin_api import consulta_csv_depara
file_csv="08-11-2023-type"
df = consulta_csv_depara(path_src, file_csv)

c:\Users\andre\Documents\github\my-money-family\admin\src/csv/08-11-2023-type.csv


TAMANHO TOTAL DF: 1591

In [15]:
df = df[["de_para","valor"]].drop_duplicates()#.unique() | .notnull() | .isnull()

In [17]:
len(df)

927

In [19]:
import csv
file_csv="oficial-depara-custo"
df.to_csv(f'{path_src}/csv/{file_csv}.csv',sep=';', encoding='utf-8', header=True, index=False,    quoting=csv.QUOTE_NONNUMERIC,
    escapechar="\\",
    doublequote=False, mode='w')

In [4]:
df["tipo_custo"] = None

In [6]:
from mytypedestinmoney_v1 import my_destin_pushout_csv
df = my_destin_pushout_csv(df, f'{path_src}/csv/08-11-2023-type.csv')

Etapa INTERMEDIARIA DO PUSHOUT para classificação do tipo de custo

Total tipos_encontrados:99 / tipos_nao_encontrados:83

In [7]:
df[df['tipo_custo'].isnull()]

,dt_extrato_bq,descricao,valor_ext,valor_saldo,ano,mes,dt_base,valor_alt,tipo_custo
0,2023-12-29,SALDO ANTERIOR,NaN,9721.04,2024,01,2024-01-01,NaN,None
25,2024-01-02,REND PAGO APLIC AUT MAIS,0.44,NaN,2024,01,2024-01-01,0.44,None
26,2024-01-02,SDO CTA/APL AUTOMATICAS,NaN,8424.29,2024,01,2024-01-01,NaN,None
29,2024-01-03,REND PAGO APLIC AUT MAIS,0.11,NaN,2024,01,2024-01-01,0.11,None
30,2024-01-03,SDO CTA/APL AUTOMATICAS,NaN,7648.35,2024,01,2024-01-01,NaN,None
...,...,...,...,...,...,...,...,...,...
176,2024-01-29,ELECTRONIGREJA METO,14.00,NaN,2024,01,2024-01-01,-14.00,None
177,2024-01-29,ELECTRONIGREJA METO,100.00,NaN,2024,01,2024-01-01,-100.00,None
178,2024-01-29,ELECTRONIGREJA METO,4.00,NaN,2024,01,2024-01-01,-4.00,None
180,2024-01-29,ELECTRONPCA N MUNDO,17.48,NaN,2024,01,2024-01-01,-17.48,None
181,2024-01-29,SALDO DO DIA,NaN,-430.97,2024,01,2024-01-01,NaN,None

In [8]:
# from mytypedestinmoney_v1 import my_destin_pushout_csv
# df = my_destin_pushout_csv(df, f'{path_src}/csv/type_ia.csv')

df_type = pd.read_csv(f'{path_src}/csv/08-11-2023-type.csv', sep=';', usecols=['de_para','valor'], encoding='latin-1')
#window incluir ecoding
# encoding='latin-1'
# configurar ';', e incluir aspas duplas '"', e tipo iso-8859-1
df_type = df_type[(df_type["valor"].notnull())].drop_duplicates()#.unique() | .notnull() | .isnull()
df_type = df_type[df_type['valor']!="compras"]#.unique() | .notnull() | .isnull()

def func(custo):
    for idx, row in df_type.iterrows():
        result = None
        if custo==row['de_para']:
            
            result = row['valor']
            return result

df["tipo_custo"] = df.apply(lambda x: func(x["descricao"]) if func(x["descricao"]) else None, axis=1)

In [ ]:
       
# def func(a, x, y, z):
#     if a==None:
#         if x==y:
#             print(a,x,y,z)
#             return z
#         else:
            
#             return None
#     else:
#         print(a,x,y,z)
#         return None



# for idxx, row in df.iterrows():

#     for idx, roww in df_type.iterrows():

#         if row["descricao"]==roww['de_para']:
            
#             result = roww['valor']
#             df.loc[idxx, "tipo_custo"]=result
            
#         # else:
#         #     df.loc[idxx, "tipo_custo"]="compras"
#         #     print(str(idxx),str(roww['valor']),result, row["tipo_custo"])
    
#     #print(str(df[~df['tipo_custo'].isnull()]))

In [9]:
df[df['tipo_custo']!="compras"][["descricao","tipo_custo"]]

               descricao     tipo_custo
0         SALDO ANTERIOR           None
1    SAQUE 24H 989950544           None
2    ELECTRONCASAS PERNA  pernambucanas
3    ELECTRONFRUTAS SERG   feira-frutas
4    ELECTRONGEORGE S TO         pessoa
..                   ...            ...
177  ELECTRONIGREJA METO           None
178  ELECTRONIGREJA METO           None
179   ELECTRONPANETTERIA    alimentacao
180  ELECTRONPCA N MUNDO           None
181         SALDO DO DIA           None

[182 rows x 2 columns]

In [10]:
df[~df['tipo_custo'].isnull()]

,dt_extrato_bq,descricao,valor_ext,valor_saldo,ano,mes,dt_base,valor_alt,tipo_custo
2,2024-01-02,ELECTRONCASAS PERNA,201.96,NaN,2024,01,2024-01-01,-201.96,pernambucanas
3,2024-01-02,ELECTRONFRUTAS SERG,5.00,NaN,2024,01,2024-01-01,-5.00,feira-frutas
4,2024-01-02,ELECTRONGEORGE S TO,20.00,NaN,2024,01,2024-01-01,-20.00,pessoa
5,2024-01-02,ELECTRONLANCHONETE,20.00,NaN,2024,01,2024-01-01,-20.00,alimentacao
6,2024-01-02,ELECTRONMAIK GUSHI,20.00,NaN,2024,01,2024-01-01,-20.00,pessoa
...,...,...,...,...,...,...,...,...,...
168,2024-01-29,ELECTRONPAG*Rodrigo,17.50,NaN,2024,01,2024-01-01,-17.50,feira-ovos
169,2024-01-29,ELECTRONPAG*OrielPe,10.00,NaN,2024,01,2024-01-01,-10.00,feira-frutas
170,2024-01-29,ELECTRONPAG*OrielPe,15.00,NaN,2024,01,2024-01-01,-15.00,feira-frutas
171,2024-01-29,ELECTRONLUIZ ANTONI,55.00,NaN,2024,01,2024-01-01,-55.00,pessoa
179,2024-01-29,ELECTRONPANETTERIA,39.99,NaN,2024,01,2024-01-01,-39.99,alimentacao

In [11]:
df[df['tipo_custo'].isnull()]

,dt_extrato_bq,descricao,valor_ext,valor_saldo,ano,mes,dt_base,valor_alt,tipo_custo
0,2023-12-29,SALDO ANTERIOR,NaN,9721.04,2024,01,2024-01-01,NaN,None
1,2024-01-02,SAQUE 24H 989950544,100.00,NaN,2024,01,2024-01-01,-100.00,None
23,2024-01-02,PIX TRANSF IMW 3 R31/12,100.00,NaN,2024,01,2024-01-01,-100.00,None
25,2024-01-02,REND PAGO APLIC AUT MAIS,0.44,NaN,2024,01,2024-01-01,0.44,None
26,2024-01-02,SDO CTA/APL AUTOMATICAS,NaN,8424.29,2024,01,2024-01-01,NaN,None
...,...,...,...,...,...,...,...,...,...
176,2024-01-29,ELECTRONIGREJA METO,14.00,NaN,2024,01,2024-01-01,-14.00,None
177,2024-01-29,ELECTRONIGREJA METO,100.00,NaN,2024,01,2024-01-01,-100.00,None
178,2024-01-29,ELECTRONIGREJA METO,4.00,NaN,2024,01,2024-01-01,-4.00,None
180,2024-01-29,ELECTRONPCA N MUNDO,17.48,NaN,2024,01,2024-01-01,-17.48,None
181,2024-01-29,SALDO DO DIA,NaN,-430.97,2024,01,2024-01-01,NaN,None

In [ ]:
# df["tipo_custo"] = df.apply(lambda x: x["tipo_custo"] if x["tipo_custo"]!=None else 
#                                 ( "sabesp" if x["descricao"].find('SABESP')>=0 else 
#                                 ( "financiamento" if x["descricao"].find('IMOBILIARIO')>=0 else
#                                 ( "carro" if x["descricao"].find('REI DO OLEO')>=0 or x["descricao"].find('Rei Do Oleo')>=0 or x["descricao"].find('shell')>=0 or x["descricao"].find('Olibone')>=0 else 
#                                 ( "banco" if x["descricao"].find('TAR PACOTE ITAU')>=0 else 
#                                 ( "pipoca" if x["descricao"].find('Mayara')>=0 or x["descricao"].find('ROGERIO')>=0 else 
#                                 ( "churros" if x["descricao"].find('EDMILSO')>=0 else
#                                 ( "portoseguro" if x["descricao"].find('PIX QRS PORTOSEG')>=0 else
#                                 ( "igreja" if x["descricao"].find('IMW')>=0 else
#                                 ( "saque" if x["descricao"].find('SAQUE')>=0 else
#                                 ( "olibone" if x["descricao"].find('olibone')>=0 else
#                                 ( "oleo" if x["descricao"].find('Oleo')>=0 else
#                                 ( "americanas" if x["descricao"].find('americanas')>=0 or x["descricao"].find('Lojas Americ')>=0 else                                                                   
#                                 ("cea"  if x["descricao"].find('Cea')>=0 else
#                                 ("torra"  if x["descricao"].find('Torra')>=0 else
#                                 ("fautura_parcelado" if x["descricao"].find('Parcelamen')>=0 else
#                                 ("mercado" if x["descricao"].find('Avila')>=0 else
#                                 ("viagem_hotel" if x["descricao"].find('Zagaia')>=0 else
#                                 ("google" if x["descricao"].find('google')>=0 else
#                                 ("localiza" if x["descricao"].find('Localiza')>=0 or x["descricao"].find('Aluguel')>=0 else
#                                 ("padaria" if x["descricao"].find('Padaria')>=0 else
#                                 ("amazon" if x["descricao"].find('Amazon')>=0 else
#                                 ("sorvete" if x["descricao"].find('Oggi')>=0 else
#                                 ("alimentação" if x["descricao"].find('Legado')>=0 else
#                                 ("futebol" if x["descricao"].find('R9 Parque Nov')>=0 else
#                                 ("curso_modelo" if x["descricao"].find('Max Fama')>=0 else
#                                 ("netflix" if x["descricao"].find('Netflix')>=0 else
#                                 ("centauro" if x["descricao"].find('Centauro')>=0 else
#                                 ("calçados" if x["descricao"].find('Calcados')>=0 else
#                                 ("futebol" if x["descricao"].find('Chute Inicial Cori')>=0 else
#                                 ("viagem" if x["descricao"].find('Crisval Agencia')>=0 else
#                                 ("khelf" if x["descricao"].find('Khelf')>=0 else
#                                 ("roupas" if x["descricao"].find('Fernandinhos')>=0 or x["descricao"].find('Jarouche')>=0 or x["descricao"].find('Artemis')>=0 else
#                                 ("mala" if x["descricao"].find('Bagaggio')>=0 else
#                                 ("pernambucanas" if x["descricao"].find('Pernambucanas')>=0 else
#                                 ("hurley" if x["descricao"].find('Hurley')>=0 else
#                                 ("farmacia" if x["descricao"].find('Extrafarma')>=0 else
#                                 ("boticario" if x["descricao"].find('boticar')>=0 else
#                                 ("king star" if x["descricao"].find('King Star')>=0 else
#                                 ("tokiomarine" if x["descricao"].find('Tokio Marine')>=0 else
#                                 ("alimentacao" if x["descricao"].find('Matheus')>=0 else 	
#                                 "compras"))))))))))))))))))))))))))))))))))))))))
#                                 ,axis=1)

In [ ]:
#grupos 
df["tipo_custo"] = df.apply(lambda x: x["tipo_custo"] if x["tipo_custo"]!=None and x["tipo_custo"]!="compras" else 
                            ( "pessoa" if x["descricao"].find('Bruno Podero')>=0 or x["descricao"].find('Roberto')>=0 else
                            ( "alimentacao" if x["descricao"].find('LUCIANO')>=0 or x["descricao"].find('RESTAURANTE')>=0  or x["descricao"].find('Frigomundo')>=0 or x["descricao"].find('Paleteria')>=0 or x["descricao"].find('Matheus')>=0 else
                            ( "banco" if x["descricao"].find('TAR PACOTE ITAU')>=0  or x["descricao"].find('IOF')>=0 or x["descricao"].find('iof')>=0 or x["descricao"].find('Iof')>=0 or x["descricao"].find('Iof Parcelamento')>=0 or  x["descricao"].find('Juros De Mora')>=0 or x["descricao"].find('Juros De Mora')>=0 else 
                            ( "americanas" if x["descricao"].find('Ame*americanas')>=0 or  x["descricao"].find('Lojas Americ')>=0  else
                            ( "posto_gasolina" if x["descricao"].find('Auto Posto')>=0 or x["descricao"].find('Posto Estacao')>=0 or x["descricao"].find('Posto Pe De Boi')>=0  else
                            ( "farmacia" if x["descricao"].find('Drogaria')>=0 or x["descricao"].find('Extrafarma')>=0 or x["descricao"].find('Raia')>=0 else 
                            ( "roupa" if x["descricao"].find('Centauro')>=0 or x["descricao"].find('Outlet')>=0  or x["descricao"].find('Pernambucanas')>=0  or x["descricao"].find('Cea')>=0 or x["descricao"].find('Decathlon')>=0 or x["descricao"].find('Hurley')>=0 or x["descricao"].find('Khelf')>=0 else
                            ( "comercio" if x["descricao"].find('Centro')>=0 or x["descricao"].find('Fernandinhos')>=0 or x["descricao"].find('Brands')>=0 or  x["descricao"].find('Y Model')>=0 else
                            ( "sorvete" if x["descricao"].find('Chiquinho')>=0 or x["descricao"].find('Pag*oggisorvetes')>=0 or x["descricao"].find('Oggi')>=0  else                                
                            ( "escola_futebol" if  x["descricao"].find('Chute Inicial')>=0 or x["descricao"].find('R9 Parque')>=0 or x["descricao"].find('Real Brasil')>=0 or  x["descricao"].find('REAL BRASIL')>=0 or x["descricao"].find('PIX TRANSF  REAL')>=0 else
                            ( "cabelereiro" if x["descricao"].find('erlonds')>=0 else 
                            ( "churros" if x["descricao"].find('EDMILSO')>=0 else 
                            ( "saque" if x["descricao"].find('SAQUE')>=0 else
                            ( "financiamento" if x["descricao"].find('IMOBILIARIO')>=0 else
                            ( "amazon" if x["descricao"].find('Amazon')>=0 else
                            ( "arena" if x["descricao"].find('Arena')>=0 else
                            ( "creche" if x["descricao"].find('APM')>=0 else
                            ( "mala_viagem" if x["descricao"].find('Bagaggio')>=0 else
                            ( "calcados" if x["descricao"].find('Calcados')>=0 else                            
                            ( "mercado" if x["descricao"].find('Carrefour')>=0 else
                            ( "passeio_viagem" if x["descricao"].find('Crisval')>=0 else
                            ( "google" if x["descricao"].find('Dl*google')>=0 else
                            ( "spotify" if x["descricao"].find('Dm*spotify')>=0 else
                            ( "localiza" if x["descricao"].find('Localiza')>=0 else
                            ( "kalunga" if x["descricao"].find('Kalunga')>=0 else  
                            ( "boticario" if x["descricao"].find('Hna*oboticar')>=0 else  
                            ( "loja_material" if x["descricao"].find('Lojao Da Vil')>=0 else  
                            ( "colchao" if x["descricao"].find('King Star Colchoes')>=0 else 
                            ( "parcelamento" if x["descricao"].find('Parcelamen')>=0 else 
                            ( "hotel" if x["descricao"].find('Zagaia')>=0 else
                            ( "Vent Vert" if x["descricao"].find('Vent Vert')>=0 else
                            ( "padaria" if x["descricao"].find('Padaria Deli')>=0 or x["descricao"].find('PAES E DOCE')>=0   else
                            ( "troca_oleo" if x["descricao"].find('Rei Do Oleo')>=0 else
                            ( "shopping" if x["descricao"].find('Shopping')>=0 else
                            ( "seguro" if x["descricao"].find('Tokio Marine')>=0 else
                            ( "moda" if x["descricao"].find('Max Fama Modeling')>=0 else
                            ( "ingresso" if x["descricao"].find('*sympl')>=0 else 
                            ( "mecanico" if x["descricao"].find('PIX TRANSF FGR COM')>=0 else  
                            ( "conectar" if x["descricao"].find('Conectcar')>=0 else   
                            ("igreja" if x["descricao"].find('IMW 3')>=0 else    
                                ("porto_seguro" if x["descricao"].find('PORTOSEG')>=0 else    
                                ("investimento" if x["descricao"].find('SAFETYPAY')>=0 or x["descricao"].find('Pagsmile')>=0 or x["descricao"].find('PAGSMILE')>=0   else                                                                                              
                            None))))))))))))))))))))))))))))))))))))))))))
                            ,axis=1)

In [ ]:
df = df[df['tipo_custo']!="compras"][["descricao","tipo_custo"]]

In [ ]:
df

In [ ]:
import csv
df.to_csv(f'{path_src}/csv/type_ia.csv',sep=';', encoding='utf-8', header=False, index=False,    quoting=csv.QUOTE_NONNUMERIC,
    escapechar="\\",
    doublequote=False, mode='a')