In [42]:
import pandas as pd   
import pandas_gbq as pgbq 
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/v0',path_note)
#path_src_resource = re.sub(r'(.)notebooks','\/v0\/resource',path_note)

In [43]:
print(path_src_resource.replace('/',''))

c:\Users\andre\Documents\github\my-money-family\admin\src\v0

In [44]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

In [45]:
from v0.resource.fin_api import consulta_gcp
strsql = f"SELECT * FROM dev_domestico.recebido_2022_excel  "

dfc = consulta_gcp(strsql)

In [46]:
# dfc[pd.to_datetime(dfc['dt_mes_base'])=='2022-06-01']
dfc[ (dfc['descricao'].isin(['TBI 9293.22915-0/500']))]

,descricao,valor_recebido,dt_mes_base,dt_recebido,process_time
4,TBI 9293.22915-0/500,2066.01,2022-08-01,2022-08-15,2023-02-08 00:10:04.785511+00:00
10,TBI 9293.22915-0/500,10000.00,2022-06-01,2022-06-07,2023-02-08 00:09:29.857403+00:00
11,TBI 9293.22915-0/500,13000.00,2022-06-01,2022-06-09,2023-02-08 00:09:29.857403+00:00
13,TBI 9293.22915-0/500,1187.52,2022-06-01,2022-06-13,2023-02-08 00:09:29.857403+00:00
14,TBI 9293.22915-0/500,1000.00,2022-06-01,2022-06-13,2023-02-08 00:09:29.857403+00:00
20,TBI 9293.22915-0/500,1200.00,2022-06-01,2022-06-17,2023-02-08 00:09:29.857403+00:00
39,TBI 9293.22915-0/500,6114.22,2022-10-01,2022-10-03,2023-02-08 00:10:38.633415+00:00
49,TBI 9293.22915-0/500,8450.00,2022-03-01,2022-03-24,2023-02-08 00:08:35.496301+00:00
50,TBI 9293.22915-0/500,2500.00,2022-05-01,2022-05-09,2023-02-08 00:09:12.853524+00:00
51,TBI 9293.22915-0/500,9827.62,2022-05-01,2022-05-24,2023-02-08 00:09:12.853524+00:00
106,TBI 9293.22915-0/500,11004.39,2022-07-01,2022-07-15,2023-02-08 00:09:46.903950+00:00

In [47]:
from v0.resource.myprocessanalytics_v0 import analytics_receb_percent

dfx_22 = analytics_receb_percent(dfc, '2022')

In [48]:
from v0.resource.fin_api import consulta_gcp
strsql = f"SELECT * FROM dev_domestico.recebido_2023_excel  "

dfc = consulta_gcp(strsql)

In [49]:
dfc[ (dfc['descricao'].isin(['TBI 9293.22915-0/500']))]

,descricao,valor_recebido,dt_mes_base,dt_recebido,process_time
191,TBI 9293.22915-0/500,2090.33,2023-04-01,2023-04-26,2023-11-25 11:42:49.553932+00:00

In [50]:
from v0.resource.myprocessanalytics_v0 import analytics_receb_percent

dfx_23 = analytics_receb_percent(dfc, '2023')

In [51]:
from v0.resource.fin_api import consulta_gcp
strsql = f"SELECT * FROM dev_domestico.recebido_2024_excel  "

dfc = consulta_gcp(strsql)

In [52]:
dfc[ (dfc['descricao'].isin(['TBI 9293.22915-0/500']))]

,descricao,valor_recebido,dt_mes_base,dt_recebido,process_time
29,TBI 9293.22915-0/500,1810.30,2024-10-01,2024-10-02,2024-11-02 10:14:50.986430+00:00
146,TBI 9293.22915-0/500,5000.00,2024-04-01,2024-04-02,2024-05-04 13:37:05.184789+00:00
151,TBI 9293.22915-0/500,6076.20,2024-05-01,2024-05-23,2024-07-08 23:45:29.779586+00:00
156,TBI 9293.22915-0/500,1000.00,2024-05-01,2024-05-03,2024-07-08 23:45:29.779586+00:00
173,TBI 9293.22915-0/500,1569.23,2024-07-01,2024-07-30,2024-08-07 14:15:12.793463+00:00
201,TBI 9293.22915-0/500,2751.51,2024-09-01,2024-09-02,2024-10-09 01:05:33.672835+00:00

In [53]:
from v0.resource.myprocessanalytics_v0 import analytics_receb_percent

dfx_24 = analytics_receb_percent(dfc, '2024')

In [54]:
df = pd.concat([dfx_23, dfx_24, dfx_22])

In [55]:
df

,ano_base,vlr_sum,vlr_med,vlr_jan,vlr_fev,vlr_mar,vlr_abr,vlr_mai,vlr_jun,vlr_jul,vlr_ago,vlr_set,vlr_out,vlr_nov,vlr_dez
0,2023,333598.47,27799.872500,12921.83,17221.50,7958.00,20998.37,9029.12,18650.94,76402.47,43953.12,15807.46,37345.87,61715.39,11594.40
0,2024,146243.48,12186.956667,6891.38,8034.93,10687.92,30976.38,14939.64,12810.00,10662.49,7296.08,10697.53,10314.81,8765.27,14167.05
0,2022,268192.73,22349.394167,13325.21,26219.52,15511.43,13009.46,40058.12,69169.11,16771.54,13952.55,8444.00,17454.29,13563.35,20714.15