In [4]:
import pandas as pd   
import pandas_gbq as pgbq 
import datetime as dt
from datetime import timedelta, date
import os
import re
import sys
path_note = os.getcwd()
path_src = re.sub(r'(.)notebooks','',path_note)
path_src_resource = re.sub(r'(.)notebooks','\/v0',path_note)

In [40]:
# PS C:\Users\andre\Documents\github> cd .\my-money-family\                                                                                                                                 
# PS C:\Users\andre\Documents\github\my-money-family> .\env\Scripts\activate                                                                                                                
# (env) PS C:\Users\andre\Documents\github\my-money-family> cd .\admin\src\                                                                                                                 
# (env) PS C:\Users\andre\Documents\github\my-money-family\admin\src> python .\main_2024.py 'debito' '2024_06' '2024-06-01'

In [5]:
print(path_src)
print(path_src_resource.replace('/',''))

c:\Users\andre\Documents\github\my-money-family\admin\src
c:\Users\andre\Documents\github\my-money-family\admin\src\v0

In [6]:
import sys
sys.path.append(os.path.abspath(f'{path_src}/'))
sys.path.append(os.path.abspath(f'{path_src_resource}/'))

In [7]:
sys.path

['c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\notebooks',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\python311.zip',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\DLLs',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0\\Lib',
 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.2544.0_x64__qbz5n2kfra8p0',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env',
 '',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\win32',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\env\\Lib\\site-packages\\Pythonwin',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\v0',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src',
 'c:\\Users\\andre\\Documents\\github\\my-money-family\\admin\\src\\v0']

In [8]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

In [45]:
# from fin_api import consulta_excel
# df = consulta_excel(path_src, 'custo_2024_01')
# df

# CONSOLIDADO CUSTO FIXO

# FILTRO DE TIPOS DE CUSTOS

In [16]:
from v0.resource.myprocessanalytics_v0 import process, analytics_percent, analytics_item_percent_diario, analytics_percent_2025

def get_fixo(ano):
    
    strsql = f"SELECT * FROM dev_domestico.custo_{ano}_excel "

    df = process(strsql, flag_fake=False)

    df = df[['tipo_custo','custo','valor_custo','dt_mes_base','dt_custo','tipo_custo_alt','classificacao_custo','area_custo']].drop_duplicates()

    return df

# 2022

In [29]:
#df[(~df['tipo_custo'].isin(['INT DARF333202885930','futebol_amigos'])) & (~df['tipo_custo_alt'].isin(['futebol_amigos']))]
# 2024
df = get_fixo('2022')

dfx = analytics_percent(df[(df['tipo_custo'].isin(['banco','juros','cartao','cart√£o','Taxa_banco','financiamento','poupanca','poupan√ßa']))], 'fixo')
#2024
dfx.sort_values("vlr_sum", ascending=False)

            tipo   vlr_sum      vlr_med  vlr_jan   vlr_fev  vlr_mar  vlr_abr   vlr_mai  vlr_jun   vlr_jul  vlr_ago  vlr_set  vlr_out  vlr_nov  vlr_dez
5          Total  78016.37  6501.364167    93.09  12376.86    89.84  3000.45  20618.97  2883.36  23169.62  2955.25  3023.33  3303.45  3152.30  3349.85
4       poupan√ßa  50037.02  4169.751667     0.00  12287.02     0.00     0.00  17750.00     0.00  20000.00     0.00     0.00     0.00     0.00     0.00
3  financiamento  25025.75  2085.479167     0.00      0.00     0.00  2867.37   2772.52  2771.45   2771.08  2770.15  2770.20  2768.65  2767.14  2767.19
1          banco   1356.61   113.050833    89.84     89.84    89.84   123.14     90.50    90.50    330.45    90.50    90.50    90.50    90.50    90.50
2          juros   1295.75   107.979167     0.00      0.00     0.00     0.00      0.00     0.00      0.00    71.19   138.33   387.86   260.94   437.43
0     Taxa_banco    301.24    25.103333     3.25      0.00     0.00     9.94      5.95    21.41     68.09    23.41    24.30    56.44    33.72    54.73

# 2023

In [19]:
#df[(~df['tipo_custo'].isin(['INT DARF333202885930','futebol_amigos'])) & (~df['tipo_custo_alt'].isin(['futebol_amigos']))]
# 2024
df = get_fixo('2023')

dfx = analytics_percent(df[(df['tipo_custo_alt'].isin(['banco','juros','cartao','cart√£o','Taxa_banco','financiamento','poupanca']))], 'fixo')
#2024
dfx.sort_values("vlr_sum", ascending=False)

            tipo    vlr_sum       vlr_med   vlr_jan   vlr_fev   vlr_mar  vlr_abr  vlr_mai   vlr_jun   vlr_jul   vlr_ago  vlr_set   vlr_out   vlr_nov  vlr_dez
5          Total  131737.83  10978.152500  10474.09  11404.09  10260.97  9865.60  5862.67  10214.94  11894.69  10857.31  7805.63  10017.25  32300.97   779.62
3         cartao   85239.46   7103.288333   7324.86   8032.06   7026.46  6280.61  2173.64   6643.51   8292.36   7973.16  4945.69   7161.57  18726.09   659.45
4  financiamento   27655.62   2304.635000   2766.32   2770.80   2769.10  2767.36  2765.71   2765.64   2764.56   2764.09  2763.15   2758.89      0.00     0.00
1          banco   14012.50   1167.708333     90.50     93.80     93.80    94.09    94.09     94.09     94.09     94.09    96.79     96.79  12973.58    96.79
2          juros    4277.71    356.475833    241.43    441.21    313.70   672.56   747.90    654.39    690.10      0.00     0.00      0.00    516.42     0.00
0     Taxa_banco     552.54     46.045000     50.98     66.22     57.91    50.98    81.33     57.31     53.58     25.97     0.00      0.00     84.88    23.38

# 2024

In [23]:
#df[(~df['tipo_custo'].isin(['INT DARF333202885930','futebol_amigos'])) & (~df['tipo_custo_alt'].isin(['futebol_amigos']))]
# 2024
df = get_fixo('2024')

dfx = analytics_percent(df[(df['tipo_custo_alt'].isin(['banco','juros','cartao','cart√£o','Taxa_banco','financiamento','poupanca']))], 'fixo')
#2024
dfx.sort_values("vlr_sum", ascending=False)

            tipo   vlr_sum      vlr_med  vlr_jan  vlr_fev  vlr_mar   vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  vlr_set  vlr_out  vlr_nov  vlr_dez
6          Total  62517.27  5209.772500  3540.38  3566.17  2902.81  22025.66  4389.82  3814.27  3760.82  3770.69  3543.58  4346.45  3014.30  3842.32
3  financiamento  33450.12  2787.510000  2808.59  2806.62  2802.42   2797.89  2793.61  2789.42  2785.24  2781.33  2777.21  2773.27  2769.28  2765.24
5       poupanca  18000.00  1500.000000     0.00     0.00     0.00  18000.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
2         cartao   9142.50   761.875000   635.00   662.76     0.00   1113.10  1394.22   866.55   874.61   883.34   612.48  1399.49     0.00   700.95
0          banco   1200.09   100.007500    96.79    96.79   100.39    100.68   100.68   100.68   100.68   100.68   100.68   100.68   100.68   100.68
4          juros    595.13    49.594167     0.00     0.00     0.00      0.00    85.55    37.84     0.00     0.00    43.16    60.56   125.80   242.22
1     Taxa_banco    129.43    10.785833     0.00     0.00     0.00     13.99    15.76    19.78     0.29     5.34    10.05    12.45    18.54    33.23

# 2025

In [21]:
#df[(~df['tipo_custo'].isin(['INT DARF333202885930','futebol_amigos'])) & (~df['tipo_custo_alt'].isin(['futebol_amigos']))]
# 2024
df = get_fixo('2025')

dfx = analytics_percent_2025(df[(df['tipo_custo_alt'].isin(['banco','juros','cartao','cart√£o','Taxa_banco','financiamento','poupan√ßa','poupanca']))], 'fixo')

dfx.sort_values("vlr_sum", ascending=False)

            tipo  vlr_sum     vlr_med  vlr_jan  vlr_fev  vlr_mar  vlr_abr  vlr_mai  vlr_jun  vlr_jul  vlr_ago  vlr_set  vlr_out  vlr_nov  vlr_dez
5          Total  8985.96  748.830000  3820.23  4420.12   745.61      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
4  financiamento  5524.60  460.383333  2763.15  2761.45     0.00      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
3         cartao  1771.75  147.645833   664.41  1107.34     0.00      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
2          juros  1248.51  104.042500   251.53   404.57   592.41      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1          banco   302.04   25.170000   100.68   100.68   100.68      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
0     Taxa_banco   139.06   11.588333    40.46    46.08    52.52      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0